[submodule "Fazon/vendor/spdlog"]
	path = Fazon/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "Fazon/vendor/SDL"]
	path = Fazon/vendor/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "Fazon/vendor/fmt"]
	path = Fazon/vendor/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "vendor/imgui"]
	path = vendor/imgui/imgui
	url = git@github.com:SomeRandomGuy64/imgui.git
